html{
  height: 100%;
  width: 100%;
  overflow: auto;
}


@font-face {
    font-family: font1;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-Medium.ttf');
  }
  @font-face {
    font-family: font2;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-Black.ttf');
  }
  @font-face {
    font-family: font3;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-ExtraBold.ttf');
  }
  @font-face {
    font-family: font4;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-BoldItalic.ttf');
  }
body {
  font-weight: 300;
  font-size: 1.1rem;
  font-family: font1; }


#note {
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: font2;
}
