<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'base.html' %} {% load static %} {% block content %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ally Assess</title>
    <link
      rel="stylesheet"
      href="{% static './projectsite/css/allyassess.css' %} "
    />
  </head>
  <body>
    <div class="container">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScRG1QYtMdVXsJ1e_y20_ZjvIWi8viUXOsq_qi-y4kjMlA69Q/viewform?embedded=true"
        class="form"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Loading…</iframe
      >
    </div>
  </body>
</html>

{% endblock %}
