<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Team Ally</title>
    <link
      rel="icon"
      type="image/png"
      href="/media/images/ally-logo-white.png"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'projectsite/css/master.css'%}" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark static-top"
      role="navigation"
      id="navbar"
    >
      {% csrf_token %}
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="/media/images/ally-logo-white.png"
            alt="HomePage"
            class="nav-logo"
          />
        </a>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %} {% if user.is_individual %}
          <li>
            <a href="{% url 'sitepages:allyassess' %}" class="btn btn-simple"
              >Ally Bais Assessment</a
            >
          </li>
          <li>
            <a
              href="{% url 'allysocials:blog_main_page' %}"
              class="btn btn-simple"
              >Ally Socials</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:cardinfoform'  %}" class="btn btn-simple"
              >Create Card</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:logout' %}" class="btn btn-simple"
              >Log out</a
            >
          </li>
          {% elif user.is_corporate %}

          <li>
            <a href="{% url 'sitepages:allyassess' %}" class="btn btn-simple"
              >Ally Bias Assessment</a
            >
          </li>
          <li>
            <a
              href="{% url 'allysocials:blog_main_page' %}"
              class="btn btn-simple"
              >Ally Socials</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:viewcards' %}" class="btn btn-simple"
              >View Cards</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:logout' %}" class="btn btn-simple"
              >Log out</a
            >
          </li>
          {% endif %} {% else %}
          <li>
            <a href="https://ally.trydiscourse.com/" class="btn btn-simple"
              >Ally Discourse</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:allyassess' %}" class="btn btn-simple"
              >Ally Bias Assessment</a
            >
          </li>
          <li>
            <a
              href="{% url 'allysocials:blog_main_page' %}"
              class="btn btn-simple"
              >Ally socials</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:login' %}" class="btn btn-simple"
              >Log in</a
            >
          </li>
          <li>
            <a href="{% url 'sitepages:signupchoice' %}" class="btn btn-simple"
              >Sign up</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <canvas id="canvas" style="position: absolute"></canvas>
    <div
      class="container mycontent"
      style="position: absolute; font-size: 2.5rem; text-align: justify"
    >
      {% block content %} {% endblock %}
    </div>

    <span id="note"></span>
  </body>
  <script
    type="text/javascript"
    src="{% static 'projectsite/js/master.js' %}"
  ></script>
</html>
