{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/master.css' %}"/>
	<h1> Welcome to site created by Team Ally</h1></br>
	<p>Breaking the barriers, Coming together as one. “Ally” is a website platform to connect,and be educated about inequality that can impact millions of lives. “Ally Social” displays the current situation of LGBT and Black lives as stories and podcasts, 
	“Ally Discourse” provides a safe forum where people can connect, share problems,and inspire. “Ally Pride Fashion” is a novel and innovative approach that gives the LGBT an open platform to connect with professionals and companies, to progress in their
	careers and leave a mark on the Fashion Industry. “Ally Bias Assessment” allows reflecting on viewpoints as an essential way to start realising and breaking down biases and harmful perceptions.</p>

	<img src='/media/images/Blue and Black Timeline Presentation.png' style='max-width:75%'></img>
	


	<script>
  		window.watsonAssistantChatOptions = {
      		integrationID: "f62fbcbf-6ef4-4f7a-935b-d93e08a063d8", // The ID of this integration.
      		region: "eu-gb", // The region your integration is hosted in.
      		serviceInstanceID: "a564abd8-2eed-4afc-9199-20b170e01a09", // The ID of your service instance.
      		onLoad: function(instance) { instance.render(); }
    	};
  		setTimeout(function(){
    	const t=document.createElement('script');
    	t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    	document.head.appendChild(t);
  	});
</script>
{% endblock %}
