*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: font1;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-Medium.ttf');
  }
  @font-face {
    font-family: font2;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-Black.ttf');
  }
  @font-face {
    font-family: font3;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-ExtraBold.ttf');
  }
  @font-face {
    font-family: font4;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-BoldItalic.ttf');
  }
body {
  background: #ccfbfe;
  overflow: hidden;
    font-weight: 300;
  font-size: 1.1rem;
  font-family: font1;
}

.tinder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.tinder--cards {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #ffffff;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.moving.tinder--card {
  -webkit-transition: none;
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #ff7195;
}

.fa-remove {
  color: #a1a9af;
}
