@font-face {
    font-family: font1;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-Medium.ttf');
  }
  @font-face {
    font-family: font2;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-Black.ttf');
  }
  @font-face {
    font-family: font3;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-ExtraBold.ttf');
  }
  @font-face {
    font-family: font4;
    src: url('\2020_fonts\2020_fonts\Barlow\Barlow-BoldItalic.ttf');
  }

body {
  margin: 0;
  background-color: black;
  color:white;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: font1;
}
